# Ignore Windows metadata

Thumbs.db
desktop.ini

# Ignore game config files

config.NFS11Save
config.NFS13Save
SystemDefault
graphics.ini
Settings.ini
*.xml

# Ignore backup archives

*.7z
*.zip

# Ignore screenshots

*.bmp
*.png
*.jpeg
*.jpg

# Ignore misc files/directories

cache
temp
*.replay